<section><h2 class="title">Angular View Transitions</h2><hr></section>
<section>
<div class="content">
<div class="row">
  <div class="col-2">
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a><br>
      <a [routerLink]="['/products', {fromView: 'ONLOADSUCCESSVIEW'}]" routerLinkActive="active">Products</a><br>
      <a *ngIf="(appData$ | async).cartProducts as cartProducts" [routerLink]="['/cart', {fromView: 'ONLOADSUCCESSVIEW'}]" routerLinkActive="active">
        Cart({{cartProducts.length}})
      </a>
    </nav>
  </div>
  <div class="row">
    <div class="col">
      <hr/>
    </div>
  </div>
  <div class="col-4">
    <router-outlet></router-outlet>
  </div>
</div>

</div>

</section>